#img-div {
    background-color: black;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
        color: $roseQuartz;
        text-align: center;
        margin: 0;
        margin-top: 1rem;
    }

    img {
        max-width: 400px;
    }
}