#tribute-info {

    .tribute-info__header {
        background-color: $dustyRose;
        padding: 1rem;

        h2 {
            margin: 0;
            text-align: center;
            color: $cream;

            span {
                color: black;
                font-weight: 400;
            }
        }
    }

    .tribute-info__contents {

        .tribute-info__content {

            margin: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .tribute-info__list {
                padding-left: 0;
                list-style-type: none;

                .tribute-info__list-item {
                    padding: 2rem 2rem 2rem 4.5rem;
                    line-height: 1.5;
                    background: url('../img/bubble-pink-icon.png') no-repeat top left;

                    &:hover {
                        font-weight: 700;
                        background-color: $dustyRose;
                    }
                }
            }


            .quote {
                background-color: $dustyRose;
                width: 100%;
                margin: 1rem auto;
                padding: 2rem 1rem;
                text-align: center;
                line-height: 1.5;
                max-width: 500px;

                blockquote {
                    margin: 0;
                    padding: 0;

                    p {
                        margin: 0;
                    }
                }
            }

            img {
                max-width: 150px;
            }
        }
    }
}